<template>
    <div>
        <h1>RouterConfiguration</h1>
        <div>
            <h2>Test Request</h2>
            <h3>Base Url</h3>
            <p><input type="text" v-model.trim="base_url"></p>

            <h4>GET @ <code>{{ base_url}}</code>{{ testGet.url}}</h4>
            <div>
                <button @click.prevent="loadGet()">launch GET request</button>
                <br>Response: <code>{{ testGet.rsp }}</code>
            </div>

            <h4>POST @ <code>{{ base_url}}</code>{{ testPost.url}}</h4>
            <div>
                <button @click.prevent="loadPost()">launch POST request</button>
                <br>Response: <code>{{ testPost.rsp }}</code>
            </div>

            <h4>PUT @ <code>{{ base_url}}</code>{{ testPut.url}}</h4>
            <div>
                <button @click.prevent="loadPut()">launch PUT request</button>
                <br>Response: <code>{{ testPut.rsp }}</code>
            </div>

            <h4>DELETE @ <code>{{ base_url}}</code>{{ testDelete.url}}</h4>
            <div>
                <button @click.prevent="loadDelete()">launch DELETE request</button>
                <br>Response: <code>{{ testDelete.rsp }}</code>
            </div>

            <h4>PATCH @ <code>{{ base_url}}</code>{{ testPatch.url}}</h4>
            <div>
                <button @click.prevent="loadPatch()">launch PATCH request</button>
                <br>Response: <code>{{ testPatch.rsp }}</code>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'RouterConfiguration',
    data ()
    {
      return {
        // base_url: 'my.server/url/',
        base_url: 'http://www.sy.localhost/vue/server-for-vue/public/index.php/',
        testGet: {
          url: 'api/get',
          rsp: null,
        },
        testPost: {
          url: 'api/post',
          rsp: null,
        },
        testPut: {
          url: 'api/put',
          rsp: null,
        },
        testDelete: {
          url: 'api/delete',
          rsp: null,
        },
        testPatch: {
          url: 'api/patch',
          rsp: null,
        }
      }
    },
    methods: {
      loadGet ()
      {
        let url = this.base_url + this.testGet.url
        fetch(url, { method: 'GET' }).then(rsp =>
        {
          rsp.text().then(rsp => this.testGet.rsp = rsp)
        }).catch(err =>
        {
          console.log('rrr', err.message)
          // this.testGet.rsp = err.message
        })
      },
      loadPost ()
      {
        let url = this.base_url + this.testPost.url
        fetch(url, { method: 'POST' }).then(rsp =>
        {
          rsp.text().then(rsp => this.testPost.rsp = rsp)
        }).catch(err =>
        {
          console.log('rrr', err.message)
          // this.testPost.rsp = err.message
        })
      },
      loadPut ()
      {
        let url = this.base_url + this.testPut.url
        fetch(url, { method: 'PUT' }).then(rsp =>
        {
          rsp.text().then(rsp => this.testPut.rsp = rsp)
        }).catch(err =>
        {
          console.log('rrr', err.message)
          // this.testPut.rsp = err.message
        })
      },
      loadDelete ()
      {
        let url = this.base_url + this.testDelete.url
        fetch(url, { method: 'DELETE' }).then(rsp =>
        {
          rsp.text().then(rsp => this.testDelete.rsp = rsp)
        }).catch(err =>
        {
          console.log('rrr', err.message)
          // this.testDelete.rsp = err.message
        })
      },
      loadPatch ()
      {
        let url = this.base_url + this.testPatch.url
        fetch(url, { method: 'PATCH' }).then(rsp =>
        {
          rsp.text().then(rsp => this.testPatch.rsp = rsp)
        }).catch(err =>
        {
          console.log('rrr', err.message)
          // this.testPatch.rsp = err.message
        })
      }
    },
  }
</script>

<style scoped>

</style>
