<template>
    <div>
        <p>
            On production mode you can change the <code>id</code> value in the url <code>/show/:id</code>.
            On refreshing the page, you can see the change
        </p>
        <h1>Show: {{id}}</h1>
    </div>
</template>

<script>
  export default {
    name: 'TestShow',
    data ()
    {
      return {
        id: 'none',
      }
    },
    mounted ()
    {
      this.id = this.$route.params.id
    },
  }
</script>

<style scoped>

</style>
