<template>
    <div>
        <h1>Hello VueJS</h1>
        <router-link to="/">Home</router-link>
        <router-link :to="{ name:'RouterConfiguration'}">RouterConfiguration</router-link>
        <button @click="loadShow">Click Show</button>
        <router-view/>
        <div v-if="$route.name === null">
            <h2>Image Configuration</h2>
            <hr>
            <code>&lt;img src="@img/logo.png"&gt;</code>
            <br>
            <img src="@img/logo.png" alt="src='@img/logo.png'">
            <hr>
            <code>&lt;img src="@img/logo.png"&gt;</code> as
            <code>src="dist/vuejs-logo.[hash].jpg"</code> (big image)
            <br>
            <img src="@img/vuejs-logo.jpg" alt="src='@img/vuejs-logo.jpg'">
            <hr>
            <h3> path as variable</h3>
            <pre class="codedemo">

                data(){
                  return {
                    image: require('@img/logo.png'),
                    image_large: require('@img/vuejs-logo.jpg'),
                  }
                }
            </pre>
            <pre>&lt;img :src="image"&gt;</pre>
            <img :src="image" alt=":src='image'">
            <hr>
            <pre>&lt;img :src="image_large"&gt;</pre>
            <img :src="image_large" alt=":src='image_large'">
        </div>
    </div>
</template>

<script>
  export default {
    name: "App",
    data(){
      return {
        image: require('@img/logo.png'),
        image_large: require('@img/vuejs-logo.jpg'),
      }
    },
    methods:{
      loadShow(){
        console.log('yolo')
        this.$router.push({name: 'Show', params: {id:3}})
      }
    }
  }
</script>

<style lang="scss" scoped>
    h1{
        color: red;
    }
    .codedemo{
        border: 1px solid black;
    }
</style>
